@{
    ViewData["PageTitle"] = "Bảng điều khiển";
    var authorsList = ViewBag.AuthorsList as IPagedList<Author>;
}

<h1>
    Đây là khu vực tác giả
</h1>


<partial name="_AuthorFilterPane" model="Model" />

@if (authorsList != null && authorsList.Count > 0)
{
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Tên tác giả</th>
                <th>Email</th>
                <th>Số bài viết</th>
                <th>Xóa tác giả</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in authorsList)
            {
                <tr>
                    <td>
                        <a class="text-bold"
                           asp-area="Admin"
                           asp-controller="Authors"
                           asp-action="Edit"
                           asp-route-id="@author.Id">
                            @author.FullName
                        </a>

                        <p class="text-muted">
                            @author.Notes
                        </p>
                    </td>

                    <td>
                        @author.Email
                    </td>

                    <td>
                        @author.Posts.Count
                    </td>

                    <td>
                        <a asp-area="Admin"
                           asp-controller="Authors"
                           asp-action="DeleteAuthor"
                           asp-route-id="@author.Id"
                           class="btn btn-danger"
                           OnClick="return confirm('Bạn có chắc chắn là muốn xóa tác giả này không')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="text-danger">
        Không tìm thấy tác giả nào
    </h1>
}

<partial name="_Pager" model="@authorsList" />

